<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ foodtruck.nom }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	
	<!-- Page content -->
	<div class="content" style="max-width:2000px;">
		<!-- Menu -->
			<!-- Links (sit on top) -->
			<div class="top">
			  	<div class="row padding black">
				    <div class="col s3">
				      <a href="#" class="button block black">ACCUEIL</a>
				    </div>
				    <div class="col s3">
				      <a href="#about" class="button block black">QUI SOMMES-NOUS?</a>
				    </div>
				    <div class="col s3">
				      <a href="#menu" class="button block black">MENU</a>
				    </div>
				    <div class="col s3">
				      <a href="#where" class="button block black">NOUS CONTACTER</a>
				    </div>
			  	</div>
			</div>
	    <!-- End Menu -->
		
	  	<!-- Contact Section -->
	  	<div class="content padding-64" style="max-width:1000px">
	    	<div class="row padding-32 wrapper">
		      	<!-- Error message -->
		      	<div class="col m12 center padding-64">
		        	<h2>ERROR 404 - Page not found</h2>
	          	</div>
	    	</div>
	    	
	  	<!-- End Contact Section -->
	  	</div>
	  
	<!-- End Page Content -->
	</div>

	<!-- Footer -->
	<footer class="center black padding-64">
	  	<div class="xlarge section">
		    <i class="fa fa-facebook-official hover-opacity"></i>
		    <i class="fa fa-instagram hover-opacity"></i>
		    <i class="fa fa-snapchat hover-opacity"></i>
		    <i class="fa fa-pinterest-p hover-opacity"></i>
		    <i class="fa fa-twitter hover-opacity"></i>
		    <i class="fa fa-linkedin hover-opacity"></i>
	  	</div>
	  	<p>Site créé par <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="hover-text-green">Marlon Payen</a></p>
	</footer>
    <!-- End Footer -->
</body>
</html>