<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ contact.full_name }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/website/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- Page content -->
	<div class="content" style="max-width:2000px;">
	  	<!-- Contact Section -->
	  	<div class="content padding-64" style="max-width:1000px">
	    	<div class="row padding-32 wrapper">
	    		<div class="padding-bottom-64">
		    		<h2 class="wide center">CONTACT</h2>
		    	</div>
		    	
		      	<!-- Message sent -->
		      	<div class="col m12 center padding-64">
		        	<h2>Your message has been successfully sent!</h2>
	          	</div>
	    	</div>
	    	
	  	<!-- End Contact Section -->
	  	</div>
	<!-- End Page Content -->
	</div>
</body>
</html>